.button {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f93f3f;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: #ff5D5D;
}

.button:active {
    background-color: #bc2828;
}