.cover__slogan {
    position: relative;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    margin-left: 4px;
    margin-top: 22px;
    z-index: 1;
}

.cover__slogan::before {
    position: absolute;
    right: 101%;
    content: "-";
    z-index: 1;
}