@import url(./__text-container/__text-container.css);
@import url(./__text/__text.css);
@import url(./__button-container/__button-container.css);
@import url(./__button/__button.css);
@import url(./__button-subtext/__button-subtext.css);

.programs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}