@font-face {
    font-family: Manrope;
    src: url(./Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-ExtraLight.ttf);
    font-weight: 200
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-Light.ttf);
    font-weight: 300
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-Medium.ttf);
    font-weight: 500
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-SemiBold.ttf);
    font-weight: 700
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/MontserratAlternates-ExtraBold.ttf);
    font-weight: 800
}