@import url(./__description.css/__description.css);
@import url(./__text/__text.css);
@import url(./__prefix/__prefix.css);
@import url(./__title/__title.css);
@import url(./__slogan/__slogan.css);
@import url(./__button/__button.css);

.cover {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/cover.jpg);
}

.cover::after {
    content: "";
    position: absolute;
    inset: 0;    
    background-image: linear-gradient(to bottom, #12121200 60%, #121212);
}