.link {
    font-family: Montserrat, sans-serif;
    color: #fff;
    cursor: pointer;
    text-underline-offset: 2px;
    transition: 0.2s ease-in-out;
}

.link:hover {
    color: #F93F3F;
}

.link:active {
    color: #BC2828;
}